/*
 * Empty Stylesheet file.
 */

.anchor-pane {
    -fx-background-color: #2E4053;
    -fx-background-image: url("/images/menuScreenImage.png");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-border-color: white;
    -fx-border-width: 2px;
}

.button-text{
    -fx-font-size: 18px;
    -fx-font-family: "System";
}