/*
 * Empty Stylesheet file.
 */

.background {
    -fx-background-color:#666666
}

.water {
    -fx-background-color: #0099ff;
}

.hit {
    -fx-background-color: #ff6666;
}

.buttonDefault {
    -fx-background-color: #cccccc;
}